@model KartRentalCompany.Models.Reservation

@{
    ViewData["Title"] = "Edit Reservation";
}

<h1>Edit Reservation</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-check">
                <input asp-for="IsApproved" class="form-check-input" type="checkbox" checked="@ViewBag.IsApproved" />
                <label asp-for="IsApproved" class="form-check-label">Approved</label>
            </div>
            <div class="form-check">
                <input asp-for="IsTakenAway" class="form-check-input" type="checkbox" checked="@ViewBag.IsTakenAway" />
                <label asp-for="IsTakenAway" class="form-check-label">Taken Away</label>
            </div>
            <div class="form-check">
                <input asp-for="IsReturned" class="form-check-input" type="checkbox" checked="@ViewBag.IsReturned" />
                <label asp-for="IsReturned" class="form-check-label">Returned</label>
            </div>
            <div class="form-check">
                <input asp-for="IsCancelled" class="form-check-input" type="checkbox" checked="@ViewBag.IsCancelled" />
                <label asp-for="IsCancelled" class="form-check-label">Cancelled</label>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
